body {
  font-size: 1.4em;
  background-color: #fff;
  font-family: "Hoefler Text", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

header {
  position: relative;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 20px;
  width: 532px;
  padding-bottom: 9px;
  border-bottom: 1px solid #666;
}

header h1 { margin-bottom: 10px; }

#container {
  position: relative;
  margin: 0 auto;
  width: 512px;
}

footer {
  border-top: 1px solid #666;
  text-align: center;
  line-height: 20px;
  width: 532px;
  font-size: 0.8em;
  margin: 0 auto;
  padding-top: 20px;
}

h1,h2,h3,h4 { line-height: 1.2em; }
h1 { font-size: 2.8em; font-weight: bold; }
h2,h3 { font-size: 2em; }
h3 { font-variant: small-caps; letter-spacing: 1px; }
h3 a[name] { color: inherit; }
h4 { font-size: 1.3em; font-style: italic; line-height:2em;  }
h4 a[name] { color: inherit; }
p { font-size: 1.3em; line-height: 1.3em; }

a, a:link, a:visited { color: #226; text-decoration: none; }
a:hover { color: #226; text-decoration: none; }

pre, code, tt, .gist, .gist-file, .gist .line {
  font-size: 1.2em;
  font-family: Consolas, Inconsolata, Monoaco, monospace;
  line-height: 1.5em;
}

body, input, textarea {
    font-family:helvetica, arial, sans-serif;
    font-size:1.3em;
    color:#333;
    line-height:1.3em;
}

input[type="text"] { width: 100%; margin-bottom:0.5em; }
input[type="submit"] { font-size:3em; }
textarea { width: 100%; height: 110px; }

.medium {
  font-size: 1em;
}

.notice {
  border: 5px solid #00f000;
}
.error {
  border: 5px solid #f00;
}